@model IEnumerable<MobaSpace.Core.Data.Models.Alarme>;

@{
    ViewData["Title"] = "Alarmes";
}
<input type="hidden" id="maxId" value="@(Model.Count() == 0 ? 0 : @Model.Max(m => m.Id))" />
 <div id="divAlarm" class="container-w-100">

 </div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            updatePartialView();
        });

        $(document).ready(function () {
            window.setInterval("checkMaxId()", 300000);//start timer
        });

        window.addEventListener('resize', updatePartialView);

        /** check if MaxID is different */
        function checkMaxId() {

            $.ajax({
                url: "/Alarmes/GetMaxAlarmeId",
                type: 'GET',
                dataType: 'html',
                success: function (newmaxId) {
                    var maxIdElement = document.getElementById('maxId');
                    if (newmaxId != maxIdElement.value) {
                        updatePartialView();
                        maxIdElement.value = newmaxId;
                    }
                },
                error: function () {
                    console.error("error in checkMaxId()");
                }
            });
        }
        // Update partial alarme
        function updatePartialView() {
            var screenWidth = $(window).width();
            $.ajax({
                url: "/Alarmes/_AlarmesPartial",
                type: 'GET',
                data: { size: screenWidth},
                success: function (partialView) {
                    $('#divAlarm').html(partialView);
                },
                error: function () {
                    console.error("error in updatePartialView()");
                }
            });
        }
    </script>
}