@model MobaSpace.Core.Data.Models.OAuth2Api;

@{
    ViewData["Title"] = "Api";
    ViewData["sub-Title"] = " - Suppression";
}
<div class="container">
    <h1>Suppression</h1>

    <h3>Confirmez la suppression</h3>
    <div>
        <h4>API @Model.Id</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApiName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </dl>

        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            <a asp-action="Index">Retour</a>
        </form>
    </div>
</div>