@model MobaSpace.Core.Data.Models.User

<html>
    <head>
    </head>
    <body>
        <p>Bonjour @Model.UserName,</p>

        <p>Vous pouvez modifier votre mot de passe en <a href='@Html.Raw(@ViewBag.callbackurl)'>cliquant ici</a>.</p>
        <p>Veuillez notez que le lien expirera dans 1 jour. Passé ce délais vous devrez renouveller votre demande.</p>
        <p>Vous avez des problèmes pour récupérer votre mot de passe ? Contactez-nous à {mailto} </p>

        <p>Salutations,</p>
        <p>l'équipe MobaSpace</p>
        <img src="cid:logo" style="width: 95px; height: 40px">
    </body>
</html>
